/* RESET */

* {
    --primary-color: #1F1F1F;
    --secondary-color: #EFEE56;
    --primary-dark1-color: #1B1B1B;
    --primary-dark2-color: #171717;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF !important;
}


/* GLOBAL */

body {
    background-color: var(--primary-color) !important;
}

h2 {
    font-family: "Imbue", serif;
    text-align: center;
    font-size: 6rem !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-bottom: 5rem !important;
}

.yellow {
    color: var(--secondary-color) !important;
    font-family: "Imbue", serif;
}

.highlight {
    font-weight: 500;
}


/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-inline: 1.2rem !important;
    text-transform: uppercase;
}

.hero-banner {
    width: 100%;
}


/* MAIN */

main {
    padding-block: 20rem !important;
}

.biography-content {
    display: flex;
    justify-content: space-between;
}

.biography-left {
    width: 250rem;
    margin-right: 5rem !important;
}

.biography-img {
    width: 100%;
    margin-bottom: 2rem !important;
}

.description p + p {
    margin-top: 1.5rem !important;
}

.group-info .row1:nth-child(odd) {
    background-color: var(--primary-dark1-color);
}

.group-info .row1:nth-child(even) {
    background-color: var(--primary-dark2-color);
}

.group-info .row1 {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem !important;
    padding-block: 0.5rem !important;
}