* {
  --primary-color: #1f1f1f;
  --secondary-color: #efee56;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff !important;
  /* background-color: var(--primary-color) !important; */
}

body {
  background-color: var(--primary-color) !important;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.imbue {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.imbue span {
  color: #efee56 !important;
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disc-card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px;
}

.disc-card img {
  width: 115px;
}

.discographie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disc-card h1 {
  font-family: "Imbue";
}

.disc-card p {
  font-family: "SeoulNamsan";
}

.imbue-container {
  display: flex;
  justify-content: center;
}

.imbue-container h1 {
  font-size: 70px;
}

#carouselExampleVideos {
  padding: 5%;
}

footer {
  background-color: #2e2e2e;
}
