/* THEMES */

.light-theme {
  --primary-color: #ffffff;
  --secondary-color: #efee56;
  --primary-dark1-color: #1b1b1b;
  --primary-dark2-color: #171717;
  color: #1f1f1f;
  background-color: #1f1f1f;
}

.light-theme * {
  color: #1f1f1f !important;
}

.light-theme .yellow {
  color: #1f1f1f !important;
}

.light-theme .nav-link {
  color: #ffffff !important;
}

.light-theme .theme-label {
  color: #ffffff !important;
}

.light-theme h4 {
  color: #ffffff !important;
}

.light-theme h5 {
  color: #ffffff !important;
}

.light-theme footer p,
.light-theme footer a,
.light-theme #clips p {
  color: #ffffff !important;
}

.light-theme .group-info .row1:nth-child(odd) {
  background-color: #efefef;
}

.light-theme .group-info .row1:nth-child(even) {
  background-color: #e3e3e3;
}

.dark-theme {
  --primary-color: #1f1f1f;
  --secondary-color: #efee56;
  --primary-dark1-color: #1b1b1b;
  --primary-dark2-color: #171717;
  color: #ffffff;
  background-color: #ffffff;
}

/* RESET */

* {
  --primary-color: #1f1f1f;
  --secondary-color: #efee56;
  --primary-dark1-color: #1b1b1b;
  --primary-dark2-color: #171717;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff !important;
}

/* GLOBAL */

body {
  background-color: var(--primary-color) !important;
}

h1 {
  font-size: 0 !important;
}

h2 {
  font-family: "Imbue", serif;
  text-align: center;
  font-size: 6rem !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  margin-bottom: 5rem !important;
}

h3 {
  font-family: "Imbue", serif;
  font-size: 2rem !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
}

.yellow {
  color: var(--secondary-color) !important;
  font-family: "Imbue", serif;
}

.highlight {
  font-weight: 500;
}

/* HEADER */

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url("../images/heorbanner.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

nav {
  position: fixed !important;
  width: 100%;
  /* height: 10vh; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: 0.3s;
  z-index: 99;
  background-color: #17171700;
}

.navbar-collapse {
  justify-content: center;
}

.theme-label {
  margin-right: 0.5rem;
}

.nav-scrolled {
  background-color: #171717;
}

nav ul {
  display: flex;
  margin: 0;
}

nav li {
  margin-inline: 1.2rem !important;
  text-transform: uppercase;
}

/* MAIN */

main {
  padding-block: 8rem !important;
}

#biography, #discography, #clips, #contact {
  margin-bottom: 10rem;
}

.biography-content {
  display: flex;
  justify-content: space-between;
}

.biography-left {
  width: 250rem;
  margin-right: 5rem !important;
}

.biography-img {
  width: 100%;
  margin-bottom: 2rem !important;
}

.description p + p {
  margin-top: 1.5rem !important;
}

.group-info .row1:nth-child(odd) {
  background-color: var(--primary-dark1-color);
}

.group-info .row1:nth-child(even) {
  background-color: var(--primary-dark2-color);
}

.group-info .row1 {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem !important;
  padding-block: 0.5rem !important;
}

.imbue {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.imbue span {
  color: #efee56 !important;
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.25% !important;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disc-card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px !important;
  width: 420px;
}

.disc-card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  background-color: var(--primary-dark2-color);
}

.discographie {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.imbue-container {
  display: flex;
  justify-content: center;
}

#carouselExampleVideos {
  padding: 5% !important;
}

footer {
  background-color: #2e2e2e;
  padding: 5% 0 0 0;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  margin: 3% 0;
}

.top-container {
  display: flex;
  gap: 12%;
}

.container-1 {
  width: 40%;
}

.terms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-btn {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 0 !important;
}

input, textarea {
  border-radius: 0 !important;
  color: var(--primary-color)!important;
}

li {
  display: flex;
  align-items: center;
}

.footer-nav-title {
  text-transform: uppercase;
  font-weight: 500;
}

.footer-desc {
  width: 100%;
}


/* MEDIA QUERIES */

@media (max-device-width: 1024px) {
  .biography-content {
    flex-direction: column;
  }

  .biography-img {
    width: 100%;
  }

  .biography-left {
    width: 100%;
  }

  .group-info {
    width: 100%;
  }

  .description {
    margin-top: 3rem;
  }

  .discographie {
    justify-content: center;
  }
}

@media only screen and (max-width: 780px) {
  .top-container {
    flex-direction: column;
    align-items: center;
  }
  .child-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .terms p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 470px) {
  .terms p {
    font-size: 12px;
  }
  .terms {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 991px) {
  nav {
    background-color: #171717;
  }
}
